@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500|Poppins:100,200,300,400,500&display=swap');

*{

    font-family:Poppins,Arial,sans-serif;
    font-weight:300;
    margin:0;
    padding:0;
    text-decoration:none;
    
    letter-spacing:.5px;

}

.barra{
min-width:110px;
width:10vw;
height:100vh;
background-color: #2A4B93;
text-align:center;
}
.profile{
    padding-top:20px;
    padding-bottom:20px;
    border-bottom:2px solid rgba(7, 29, 73,.25);
    transition: all .5s ease;

}

.account-category{
font-size:10px;
color:white;
}
.contenedor-barral{
    margin:0;
    padding:0;
    height:100%;

}
.botones-list{
width:100%;
list-style:none;


}
.botones{
height:70%;

}

.user-photo{
    width: 70px;
    border-radius:50%;
    margin-top:10px;
    
    
}
.boton{
    height:70px;
    width:100%;
    font-weight: 300;
    margin-bottom:10px;
    display:flex;
    align-items: center;
    justify-content:center;
    color:white;
    font-size:14px;
    transition: all .3s ease;

    
}


.boton:hover, .profile:hover{
    cursor:pointer;
    background-color:rgb(24, 52, 112) ;
  
}

