.content-organizer{
    width:90vw;
    display:grid;
    grid-template-columns: minmax(200px,3fr) minmax(300px,7fr)  ;
}

#mostrar-empresas{
    background-color: #F4F5E2;
    width:100%;
    display:block;
    height:100vh;
}

.companies-display{
    height:80%;
   
    display:flex;
    flex-wrap:wrap;
    margin-top:6%;
    margin-left:3%;
    margin-right:3%;
    justify-content: space-evenly;
    overflow: scroll;

}
 
